/* Contenedor de consola Johto */

/* Header Region de Johto*/
.johto-header {
  background-color: #2e5d27;
  color: #fff;
  text-shadow: 3px 3px #000;
}

.console-container.johto {
  background-color: #2e5d27;
  border: 3px solid #0f380f;
  border-radius: 10px;
  background-image: url("../images/region/johto.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

/* Botones de juego Johto */
.console-container.johto .gameList button {
  background: #f0e8c0;
  border: 3px solid #0f380f;
  border-radius: 10px;
  padding: 0.2rem;
  cursor: pointer;
  text-align: center;
  font-size: 10px;
  transition: transform 0.2s, box-shadow 0.2s, background 0.2s;
}

.console-container.johto .gameList button:hover {
  transform: scale(1.05);
  background: #e0d890;
  box-shadow: 0 0 8px #0f380f;
}

/* Consola seleccionada */
.console-container.selected {
  box-shadow: 0 0 15px #fff inset, 0 0 15px #000;
  transform: scale(1.02);
  transition: transform 0.3s, box-shadow 0.3s;
}
