/* Contenedor de consola Kanto */
.console-container.kanto {
  background-color: #456e34;
  border: 3px solid #0f380f;
  border-radius: 10px;
  background-image: url("../images/region/kanto.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

/* Botones de juego Kanto */
.console-container.kanto .gameList button {
  background: #e0f8d0;
  border: 3px solid #0f380f;
  border-radius: 10px;
  padding: 0.2rem;
  cursor: pointer;
  text-align: center;
  font-size: 10px;
  transition: transform 0.2s, box-shadow 0.2s, background 0.2s;
}

.console-container.kanto .gameList button:hover {
  transform: scale(1.05);
  background: #c0e8a0;
  box-shadow: 0 0 8px #0f380f;
}
